<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Kellerautomat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        Besondere Symbole:
        <ul>
          <li>{{automat.stackEmpty}} - Keller-Leer-Symbol</li>
          <li>{{automat.opRemove}} - oberstes Symbol entfernen</li>
          <li>{{automat.opNo}} - keine Operation</li>
        </ul>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Eingabealphabet</ion-label>
          <ion-input required [(ngModel)]='automat.alphabetInput'>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Kelleralphabet</ion-label>
          <ion-input required [(ngModel)]='automat.alphabetStack'>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>Zustandsdefinition</ion-list-header>
          <ion-grid size="13">
            <ion-row>
              <ion-col>
                <ion-label>Startzustand</ion-label>
                <ion-select [(ngModel)]="automat.stateStart">
                  <ion-select-option *ngFor="let state of getTransitionStates()">{{state}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-item>
                  <ion-label position="stacked">Startzustand</ion-label>
                  <ion-input required="true" [(ngModel)]="newTransition.state" placeholder="Zx"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-item>
                  <ion-label position="stacked">Eingabezeichen</ion-label>
                  <ion-input required="true" [(ngModel)]="newTransition.input" size="1"
                    (keypress)="validateInput($event)"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-item>
                  <ion-label position="stacked">Kellertop</ion-label>
                  <ion-input required="true" (keypress)="validateStackTop($event)" [(ngModel)]="newTransition.stackTop"
                    size="1">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-item>
                  <ion-label position="stacked">Zielzustand</ion-label>
                  <ion-input required="true" [(ngModel)]="newTransition.stateNext" placeholder="Zy"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-item>
                  <ion-label position="stacked" (keypress)="validateOperation($event)">Operation</ion-label>
                  <ion-input required="true" [(ngModel)]='newTransition.stackOp' size="1"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="1">
                <ion-buttons>
                  <ion-button (click)="addEntry()" title="Hinzufügen">
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="selectedIndex > -1" (click)="updateEntry()" title="Aktualisieren">
                    <ion-icon name="checkmark"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item *ngFor="let trans of automat.transitions; let i = index" [ngClass]="selectedIndex===i?'danger':''">
            <ion-label (click)="openTransition(i)">{{getTransitionString(trans)}}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="removeTransition(i)">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Eingabe</ion-label>
          <ion-input required [(ngModel)]='automat.inputStart'>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="automat !== undefined && automat !== null">
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-button (click)="step()">
            <ion-icon name="skip-forward"></ion-icon>
          </ion-button>
          <ion-button (click)="resetAutomat()">
            <ion-icon name="refresh"></ion-icon>
          </ion-button>
        </ion-buttons>
        Aktueller Zustand: {{automat.state.activeState}}
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-col>
            <span *ngFor="let character of getStateInputArray(), let i = index">
              <div class="inputChar">
                <div class="charBox">
                  {{character}}
                </div>
                <div class="activeMarker ion-text-center" *ngIf="i == automat.state.inputPosition">
                  ^
                </div>
              </div>
            </span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col class="ion-no-padding ion-no-margin" size="6">
            <ion-list>
              <ion-list-header>Protokoll</ion-list-header>
              <ion-item *ngFor="let trans of automat.state.protocol.reverse(); let i = index">
                {{automat.state.protocol.length - i}}. {{getTransitionString(trans)}}
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <div class="stack">
              <div *ngFor="let character of getStateStackArray()">
                {{character}}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>